# SPDX-FileCopyrightText: 2022 - 2025 Ali Sajid Imami
#
# SPDX-License-Identifier: 0BSD
name: Security Audit
on:
  schedule:
    - cron: 0 0 1,15 * *
  push:
    branches:
      - "*"
    paths:
      - '**/Cargo.toml'
      - '**/Cargo.lock'
  workflow_dispatch:

permissions: read-all

jobs:
    security_audit:
        if: ${{ !contains(github.event.head_commit.message, '[skip ci]') }}
        runs-on: ubuntu-latest
        steps:
            - name: Harden Runner
              uses: step-security/harden-runner@6c439dc8bdf85cadbbce9ed30d1c7b959517bc49 # v2.12.2
              with:
                egress-policy: block
                allowed-endpoints: >
                  github.com:443
                  index.crates.io:443
                  mise-versions.jdx.dev:80
                  mise.jdx.dev:443
                  objects.githubusercontent.com:443
                  static.crates.io:443
                  static.rust-lang.org:443

            - name: Checkout
              uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

            - name: Install Rust
              uses: dtolnay/rust-toolchain@stable
            - name: Install cargo-audit
              uses: taiki-e/install-action@21517c4e721ab8b872d9b8e90828e584dcabe8e2 # v2.56.3
              with:
                tool: cargo-audit

            - name: Security Audit
              run: cargo-audit audit
