# SPDX-FileCopyrightText: 2022 - 2025 Ali Sajid Imami
#
# SPDX-License-Identifier: 0BSD
name: Security Audit
on:
  schedule:
    - cron: 0 0 1,15 * *
  push:
    branches:
      - "*"
    paths:
      - "**/Cargo.toml"
      - "**/Cargo.lock"
  workflow_dispatch:

permissions: read-all

jobs:
  security_audit:
    if: ${{ !contains(github.event.head_commit.message, '[skip ci]') }}
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: block
          allowed-endpoints: >
            github.com:443
            index.crates.io:443
            mise-versions.jdx.dev:80
            mise.jdx.dev:443
            objects.githubusercontent.com:443
            static.crates.io:443
            static.rust-lang.org:443
            release-assets.githubusercontent.com

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Install Rust
        uses: dtolnay/rust-toolchain@efa25f7f19611383d5b0ccf2d1c8914531636bf9 # stable
        with:
          toolchain: stable
      - name: Install cargo-audit
        uses: taiki-e/install-action@470679bc3a1580072dac4e67535d1aa3a3dcdf51 # v2.68.6
        with:
          tool: cargo-audit

      - name: Security Audit
        run: cargo-audit audit
