# SPDX-FileCopyrightText: 2022 - 2025 Ali Sajid Imami
#
# SPDX-License-Identifier: 0BSD
name: Next semantic-release version

on:
    workflow_call:
        outputs:
            new-release-published:
                description: Indicates whether a new release will be published. The value is a string, either 'true' or 'false'.
                value: ${{ jobs.get-next-version.outputs.new-release-published }}
  workflow_call:
    outputs:
      new-release-published:
        description: Indicates whether a new release will be published. The value is a string, either 'true' or 'false'.
        value: ${{ jobs.get-next-version.outputs.new-release-published }}
permissions:
  contents: read
jobs:
  get-next-version:
    name: Get next release version
    runs-on: ubuntu-latest
    outputs:
      new-release-published: ${{ steps.get-next-version.outputs.new-release-published }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@ec9f2d5744a09debf3a187a3f4f675c53b671911 # v2.13.0
        with:
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            github.com:443
            registry.npmjs.org:443

      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0
          persist-credentials: false

      - uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda # v4.1.0
        name: Setup PNPM
        with:
          version: 10.11.1

      - name: Configure Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: 22.x

      - name: Install dependencies on cache miss
        run: |
          pnpm install -g semantic-release semantic-release-export-data
        shell: bash

      - name: Get next release version
        id: get-next-version
        env:
          GITHUB_TOKEN: ${{secrets.ACTIONS_PAT_GITHUB}}
        run: |
          : calculate next semantic-release version
          semantic-release \
          --dry-run \
          --plugins semantic-release-export-data \
          --verify-conditions semantic-release-export-data \
          --verify-release '' \
          --generate-notes semantic-release-export-data \
          --prepare '' \
          --publish '' \
          --success '' \
          --fail ''
        shell: bash
