# SPDX-FileCopyrightText: 2022 - 2025 Ali Sajid Imami
#
# SPDX-License-Identifier: 0BSD
on:
  workflow_call:

name: Semantic Release

env:
  RUST_BACKTRACE: 1
  SEMREL_RUST_VERSION: 2.1.53

concurrency:
    group: ${{ github.workflow }}

permissions:
  contents: read
jobs:
  release:
    name: Semantic Release
    runs-on: ubuntu-latest
    outputs:
      new_release_version: ${{steps.semantic.outputs.new_release_version}}
      new_release_published: ${{steps.semantic.outputs.new_release_published}}
      new_release_notes: ${{steps.semantic.outputs.new_release_notes}}
      new_release_channel: ${{steps.semantic.outputs.new_release_channel}}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@ec9f2d5744a09debf3a187a3f4f675c53b671911 # v2.13.0
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@e89d40939c28e39f97cf32126055eeae86ba74ec # v6.3.0
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_KEY_PASSPHRASE }}
          fingerprint: ${{ secrets.GPG_SUBKEY_FINGERPRINT }}
          trust_level: 5
          git_user_signingkey: true
          git_commit_gpgsign: true
          git_tag_gpgsign: false
          git_committer_name: ${{ vars.GIT_AUTHOR_NAME }}
          git_committer_email: ${{ vars.GIT_AUTHOR_EMAIL }}

      - name: Test GPG Key Import
        run: gpg --list-keys --keyid-format LONG

      - name: Install dependencies
        run: sudo apt install tree

      - name: Install semantic-release-cargo
        uses: taiki-e/install-action@14083e64ac8cf1f5e54356df00b9779b23e192a1 # v2.58.29
        with:
          tool: semantic-release-cargo@${{env.SEMREL_RUST_VERSION}}

      - name: Install Conventional Commit preset
        run: npm install conventional-changelog-conventionalcommits

      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@9cc899c47e6841430bbaedb43de1560a568dfd16 # v5.0.0
        id: semantic
        with:
          semantic_version: 24.0.0
          extra_plugins: |
            @semantic-release/exec@6
            @semantic-release/git@10
        env:
          GITHUB_TOKEN: ${{secrets.ACTIONS_PAT_GITHUB}}
          CARGO_REGISTRY_TOKEN: ${{secrets.SEMREL_CRATES_IO}}
          GIT_AUTHOR_NAME: ${{vars.GIT_AUTHOR_NAME}}
          GIT_AUTHOR_EMAIL: ${{vars.GIT_AUTHOR_EMAIL}}
          GIT_COMMITTER_NAME: ${{vars.GIT_AUTHOR_NAME}}
          GIT_COMMITTER_EMAIL: ${{vars.GIT_AUTHOR_EMAIL}}
