# SPDX-FileCopyrightText: 2022 - 2025 Ali Sajid Imami
#
# SPDX-License-Identifier: 0BSD
on:
  workflow_call:

name: Semantic Release

env:
  RUST_BACKTRACE: 1
  SEMREL_RUST_VERSION: 2.1.53

concurrency:
    group: ${{ github.workflow }}

permissions:
  contents: read
jobs:
  release:
    name: Semantic Release
    runs-on: ubuntu-latest
    outputs:
      new_release_version: ${{steps.semantic.outputs.new_release_version}}
      new_release_published: ${{steps.semantic.outputs.new_release_published}}
      new_release_notes: ${{steps.semantic.outputs.new_release_notes}}
      new_release_channel: ${{steps.semantic.outputs.new_release_channel}}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@e89d40939c28e39f97cf32126055eeae86ba74ec # v6.3.0
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_KEY_PASSPHRASE }}
          fingerprint: ${{ secrets.GPG_SUBKEY_FINGERPRINT }}
          trust_level: 5
          git_user_signingkey: true
          git_commit_gpgsign: true
          git_tag_gpgsign: false
          git_committer_name: ${{ vars.GIT_AUTHOR_NAME }}
          git_committer_email: ${{ vars.GIT_AUTHOR_EMAIL }}

      - name: Test GPG Key Import
        run: gpg --list-keys --keyid-format LONG

      - name: Install dependencies
        run: sudo apt install tree

      - name: Install semantic-release-cargo
        uses: taiki-e/install-action@470679bc3a1580072dac4e67535d1aa3a3dcdf51 # v2.68.6
        with:
          tool: semantic-release-cargo@${{env.SEMREL_RUST_VERSION}}

      - name: Install Conventional Commit preset
        run: npm install conventional-changelog-conventionalcommits

      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@b12c8f6015dc215fe37bc154d4ad456dd3833c90 # v6.0.0
        id: semantic
        with:
          semantic_version: 24.0.0
          extra_plugins: |
            @semantic-release/exec@6
            @semantic-release/git@10
        env:
          GITHUB_TOKEN: ${{secrets.ACTIONS_PAT_GITHUB}}
          CARGO_REGISTRY_TOKEN: ${{secrets.SEMREL_CRATES_IO}}
          GIT_AUTHOR_NAME: ${{vars.GIT_AUTHOR_NAME}}
          GIT_AUTHOR_EMAIL: ${{vars.GIT_AUTHOR_EMAIL}}
          GIT_COMMITTER_NAME: ${{vars.GIT_AUTHOR_NAME}}
          GIT_COMMITTER_EMAIL: ${{vars.GIT_AUTHOR_EMAIL}}
